#calculator-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40vh;
    width: 30vh;
    padding: 10px;
    border: 1px solid #000000;

}

#calcDisplay {
    height: 20%;
    width: 90%;
    border: 1px solid #000000;
    margin: 1vh;
}

#calculatorButtonDiv {
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.buttonRow {
    display: flex;
    flex-direction: row;
    flex: 1;
}

button {
    flex: 1;
    height: 5vh;
    margin: .25vh;
}
